/* Base styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #241e1e;
  }
  a {
    text-decoration: none;
    color:#441c98;
  }
  a:hover{
    text-decoration: underline;
  }
  
  /* Site header */
  header {
    text-align: center;
    background-color: #0ee8f8;
    position: sticky;
    top:0
  }
  
  header a {
    color: #0ae0ec;
    padding: 20px 20px;
    display: inline-block;
    padding: 16px 20px;
  }
  header a:hover {
    color: #f7ef0a;
  }
  
  /* Hero section */
  .hero {
    padding: 30px 0;
    text-align: center;
    color: rgb(11, 204, 242);
    background-image: url("images/space.jpg");
    border-bottom: 8px solid #e6e0ea;
    background-size: cover;
    background-color: #000;
    /* position:relative */
  }
  .featured-img {
    width: 140px;
    border: solid #0dd5ef;
    border-radius: 50%;
    /* position: absolute;
    top: right; */
  }
  /* Main content container */
  .container {
    padding: 16px 0;
    width: 90%;
    margin: 0 auto; 
    max-width: 740px;
  
  }
  
  /* Intro section */
  
  /* Image container */
  .img-container {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  
  /* Site footer */
  footer {
    text-align: center;
    background-color: #241e1e;
    padding: 24px 0;
  }
  footer a {
    color: #06c7ee;
  }
  
  /* Media queries */
  